{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}

{% block body %}


<div class="example-wrapper">
<nav class="bg-white shadow-md">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center py-4">

            <div class="text-xl font-bold text-blue-600">
                MonSite
            </div>

            <div class="space-x-6 hidden md:flex">
                <a href="{{ path('accueil') }}" class="text-gray-600 hover:text-blue-600"> {{ ux_icon('bi:house-fill') }}</a>
                <a href="{{ path('A_propos') }}" class="text-gray-600 hover:text-blue-600"> {{ ux_icon('bi:info-circle') }}</a>
                <a href="{{ path('contact') }}" class="text-gray-600 hover:text-blue-600"> {{ ux_icon('bi:envelope') }}</a>
            </div>

            <div class="md:hidden">
                <button class="text-gray-600">☰</button>
            </div>

        </div>
    </div>
</nav>
    <h1>{{ title }}</h1>

</div>
{% endblock %}
